.App {
  text-align: center;
  width: 380px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid black; */
  border-radius: 9px;
  background-color: white;
  box-shadow: 3px 3px 3px 1px rgb(183, 183, 183);
}
.App h1{
  color: rgb(0, 52, 104);
  margin-top: -50px;
  margin-bottom: 39px;
  font-weight: 500;
}
.App h2{
  color: rgb(0, 134, 201);
  margin-top: -20px;
  font-weight: 400;
}
body{
  background-color: rgb(239, 239, 239);
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.app {
  width: 60vw;
  min-height: 20vh;
  border: 2px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.Wbox {
  width: 320px;
  height: 180px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background: linear-gradient(rgb(0, 69, 125), rgb(0, 98, 178), rgb(0, 69, 125));
  box-shadow: 5px 5px 5px rgb(147, 147, 147);
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.Wbox p {
  margin-top: -20px;
  font-size: 17px;
}

.Wbox input {
  width: 64%;
  height: 26px;
  padding-left: 14px;
  border: 0;
  outline: 0;
  background-color: transparent;
  border-bottom: 1px solid rgb(129, 198, 255);
  color: white;
}

.Wbox input::placeholder {
  color: whitesmoke;
  font-size: 12px;
  font-weight: 100;
}

.Wbtn {
  width: 100px;
  height: 30px;
  margin-bottom: -10px;
  background-color: rgb(181, 227, 255);
  border: none;
  outline: 0;
  color: rgb(0, 48, 107);
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 2px 3px 2px rgb(78, 166, 255);
  cursor: pointer;
}

.Wbtn:hover {
  background-color: rgb(127, 206, 255);
}

.CancelWbtn {
  width: 100px;
  height: 30px;
  background-color: rgb(255, 171, 213);
  border: none;
  outline: 0;
  color: rgb(0, 48, 107);
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 3px 2px rgb(78, 166, 255);
  margin-left: 30px;
}

.CancelWbtn:hover {
  background-color: rgb(255, 109, 182);
}

.Dbox {
  width: 320px;
  min-height: 180px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background: linear-gradient(rgb(0, 69, 125), rgb(0, 98, 178), rgb(0, 69, 125));
  box-shadow: 5px 5px 5px rgb(141, 141, 141);
  color: white;
  margin-bottom: 30px;
  padding: 20px;
  box-sizing: border-box;
}

.Da {
  margin-top: -20px;
  font-size: 17px;
}

.Dbox input {
  width: 64%;
  height: 26px;
  padding-left: 14px;
  border: 0;
  outline: 0;
  background-color: transparent;
  border-bottom: 1px solid rgb(129, 198, 255);
  color: white;
}

.Dbox input::placeholder {
  color: whitesmoke;
  font-size: 12px;
  font-weight: 100;
}

.Dbtn {
  width: 100px;
  height: 30px;
  background-color: rgb(181, 227, 255);
  border: none;
  outline: 0;
  color: rgb(0, 48, 107);
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 3px 2px rgb(78, 166, 255);
}

.Dbtn:hover {
  background-color: rgb(127, 206, 255);
}

.Cancelbtn {
  width: 100px;
  height: 30px;
  background-color: rgb(255, 171, 213);
  border: none;
  outline: 0;
  color: rgb(0, 48, 107);
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 3px 2px rgb(78, 166, 255);
  margin-left: 30px;
}

.Cancelbtn:hover {
  background-color: rgb(255, 109, 182);
}

.Btnbox {
  width: 100%;
}

#Wshowbtn {
  width: 200px;
  height: 35px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  font-size: 15px;
  letter-spacing: 5px;
  background-color: rgb(0, 134, 138);
  color: white;
  box-shadow: 2px 2px 2px 2px rgb(179, 255, 247);
}

#Wshowbtn:hover {
  background-color: rgb(0, 175, 181);
}

#Dbutton {
  width: 200px;
  height: 35px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  font-size: 15px;
  letter-spacing: 5px;
  background-color: rgb(0, 134, 138);
  color: white;
  box-shadow: 2px 2px 2px 2px rgb(179, 255, 247);
  margin-bottom: 20px;
}

#Dbutton:hover {
  background-color: rgb(0, 175, 181);
}

/* 
@media only screen and(max-width:1000px){
  .App{
    width: 80%;
    height: 500px;
  }
 
}

@media (max-width:400px){
  .App{
    width: 100%;
    height: 500px;

padding: 10px;  }
  body{
    width: 200px;
    overflow: hidden;
  }
  .App h1{
    font-size: 20px;
  }
  .App h2{
    font-size: 18px;
  }
 
} */
